{% extends 'base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block style %}
<style>
    .mydiv {
        min-height: xxx;
        overflow: hidden;
    }

    .body {
        font-family: 'Baloo Thambi 2', cursive;
    }

    .Catogeryname {
        font-family: 'Baloo Thambi 2', cursive;
    }
</style>
{% endblock style %}
{% block content %}
<header class="skin-light" aria-busy="true">
    <div class="jumbotron color-pink-light mt-70">
        <div class="d-flex align-items-center h-100">
            <div class="container text-center py-5">
                <h3 class="mb-0">About us</h3>
            </div>
        </div>
    </div>
</header>
<main class="skin-light" aria-busy="true">

    <div class="container mt-4 mb-5">

        <h3 class="text-center py-3 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit dolor,
            fugiat accusamus reiciendis dignissimos nobis ipsum quisquam delectus.</h3>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5">

                <img class="img-fluid rounded z-depth-2"
                    src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/new/img(21).jpg" alt="sample">

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7">

                <p class="mt-4 mt-lg-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
                    doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                    architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
                    aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi
                    nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci
                    velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                    voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit
                    laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
                    ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo
                    voluptas nulla pariatur.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio molestiae sit voluptates assumenda
                    omnis dolorem porro non placeat natus iusto modi, reprehenderit voluptatum ducimus ab unde ad quis
                    amet soluta. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                    laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto
                    beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
                    aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque
                    porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                    numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                    minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil
                    molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
</main>>

<!-- end card-container -->

{% endblock content %}